<h1>CIRCSIM v2.0*</h1>
<p>Joel Michael, PhD</p>

<p>
  Additional content and pedagogy<br />
  Thomas Shannon, DVM, PhD
</p>

<p>
  Programming<br />
  Ryan Golden, BS<br />
  RMC Class of 2014
</p>

<p>
  Anthony Nuval, BEng<br />
  Rush Medical College<br />
  RMC Class of 2015
</p>

<p>
  Department of Molecular Biophysics and Physiology<br />
  Rush Medical College<br />
  Chicago, Illinois<br />
</p>

<p>
  *Based on CIRCSIM (Allen Rovick and Joel Michael)
</p>
