<h1>CIRCSIM v2.0*</h1>
<p><b>Joel Michael, PhD</b></p>

<p>
  <u>Additional content and pedagogy</u><br />
  Thomas Shannon, DVM, PhD
</p>

<p>
  <u>Programming</u><br />
  Ryan Golden, BS<br />
  <i>RMC Class of 2014</i><br />
  Anthony Nuval, BEng<br />
  <i>RMC Class of 2015</i>
</p>

<p>
  Department of Molecular Biophysics and Physiology<br />
  Rush Medical College<br />
  Chicago, Illinois<br />
</p>

<p>
  *Based on CIRCSIM (Allen Rovick and Joel Michael)
</p>
